*{
  box-sizing:border-box;
}

::-webkit-scrollbar{
  height:7px;
  width:7px;
}

::-webkit-scrollbar-track{
  background:#1f2223;
}

::-webkit-scrollbar-thumb{
  background:#888;
}

::-webkit-scrollbar-thumb:hover{
  background:#555;
}

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin:0px;
  /* background-color: #282c34;*/
  /* color:#fff; */
  /* background-color:#2e323b; */
}

.navbar{
  z-index:999;
  padding:0;
  position:sticky;
  top:0;
  background-color:#fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar-brand{
  font-size:1.7rem;
  font-weight:600;
}


.logo {
  position:static;
  color: black;
  margin:1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration:none;
}


footer {
  /* position: absolute; */
  text-align: center;
  bottom: 0;
  width: 95%;
  height: 2.5rem;
}


td{
  padding:0.6rem 1rem;
}

.anchor:hover{
  transition: ease-in-out 250ms;
  text-decoration:underline;
}

.nav-link{
  font-size:1.3rem;
}

.console_local{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  text-align:left;
  margin:2rem;
  height:90vh;
  /* background-color:rgb(36, 39, 41); */
}

.console_local form{
  flex:1;
}

#response{
  flex:1;
  min-width:300px;
  min-height:0;
}

#response pre{
  height:auto;
  max-height:27rem;
}

tr td:first-child{
  text-align:right;
}

.content{
  margin:2rem;
}

.heroSection{
  margin:2rem;
  display:flex;
  align-items:center;
}

.heroSection img{
  width:120rem;
  height:30rem;
  filter: drop-shadow(2px 4px 6px black);
}

.details,h1,p{
  margin:2rem;
}

.details h1{
  font-size:3rem;
}

.intro h1{
  margin:0;
}
.intro p{
  margin:1rem 2rem;
}
.intro li{
  margin:0.7rem;
}

#sources{
  margin:2rem;
}

details{
  margin-bottom:1rem;
}

summary {
  display: list-item;
  font-size: 1.5rem;
  width: max-content;
}


@media (max-width:990px){
  .heroSection img{
    display:none;
  }
  .heroSection{
    margin:0;
  }
  .details{
    margin:0
  }
}